* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #003049;
    text-align: center;
}

main h1 {
    color: #94d2bd;
}

.container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    padding-left: 5vmin;
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 8vmin;
    background-color: #ffffc7;
    color: black;
}

#reset {
    height: 7vmin;
    width: 18vmin;
    border-radius: 0.5rem;
    font-weight: 600;
    background-color: #fdf0d5;
    color: #c1121f;
    border: none;
    font-size: 1rem;
}

.box:hover, #reset:hover {
    background-color: #669bbc;
}

.message {
    height: 14vmin;
}

.message p {
    color: #94d2bd;
    font-size: 2rem;
}

.drawGame {
    color: #94d2bd;
    font-size: 2rem;
}

#newGame {
    margin-top: 1.5vmin;
    height: 5vmin;
    width: 18vmin;
    border-radius: 0.5rem;
    font-weight: 600;
    background-color: #fdf0d5;
    color: #c1121f;
    border: none;
    font-size: 1rem;
}

.hide {
    display: none;
}